
<div class="strib-styles ssa ssb ssc">
  <section class="container-lg elex-header">
      <h5 class="font-popular-light topline"><span class="font-popular-medium"><a href="http://www.startribune.com/local/duluth/">Duluth</a></span></h5>
      <h1>How Duluth's school districts might be reshaped</h1>
    <div class="byline">
      <address>By
        <a rel="author" href="http://www.startribune.com/katie-galioto/511230711/">Katie Galioto</a>
        and 
        <a rel="author" href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a>
      </address>
      <span class="spacer"></span>
      Star Tribune
      <span class="spacer-alt"></span>
      <time pubdate datetime="2019-11-06T16:00:00">January 15, 2020</time>
    </div>
    <p></p>
    <!-- share -->
  </section>
  
  <section class="container-lg">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      
  </section>

  <div class="rule"></div>
  <section class="container-lg">
      <h2 class="chartTitle">Scenario One</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </section>

  <div class="slide">

      <div class="map" id="mapper1">
        <iframe title="Duluth School Redistricting 2020: Scenario 1" aria-label="choropleth map" id="datawrapper-chart-uSrzB" src="//datawrapper.dwcdn.net/uSrzB/1/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="400"></iframe>  
        <iframe title="Duluth School Redistricting 2020: Scenario 1 Table" aria-label="Table" src="//datawrapper.dwcdn.net/fHqEv/3/" scrolling="no" frameborder="0" style="border: none;" width="600" height="585"></iframe>
       </div>
  </div>


  <div class="rule"></div>
  <section class="container-lg">
      <h2 class="chartTitle">Scenario Two</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </section>

  
  <div class="slide">

      <div class="map" id="mapper2">
        <iframe title="Duluth School Redistricting 2020: Scenario 2" aria-label="choropleth map" id="datawrapper-chart-ihNdP" src="//datawrapper.dwcdn.net/ihNdP/1/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="400"></iframe>
        <iframe title="Duluth School Redistricting 2020: Scenario 2 Table" aria-label="Table" src="//datawrapper.dwcdn.net/R0F6J/3/" scrolling="no" frameborder="0" style="border: none;" width="600" height="641"></iframe>
      </div>
</div>

  <div class="rule"></div>
  <section class="container-lg">
      <h2 class="chartTitle">Scenario Three</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </section>

  
  <div class="slide">

      <div class="map" id="mapper3">
        <iframe title="Duluth School Redistricting 2020: Scenario 3" aria-label="choropleth map" id="datawrapper-chart-66cLu" src="//datawrapper.dwcdn.net/66cLu/1/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="400"></iframe>
        <iframe title="Duluth School Redistricting 2020: Scenario 3 Table" aria-label="Table" src="//datawrapper.dwcdn.net/IooUy/2/" scrolling="no" frameborder="0" style="border: none;" width="600" height="632"></iframe>
    </div>

    </div>

  <div class="slide">
    <div class="byline">Data source: City of Duluth</div>
  </div>

<section class="container-lg">
    <div class="article-author-contact">
    <div class="article-author-hcard">
        <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Katie Galioto </strong>is a general assignment reporter at the Star Tribune. In 2019, after a few years away, she returned to the Minneapolis area, where she was born and raised.</span></p><p></p>
        <p><a class="article-author-hcard__email" target="_blank" href="mailto:katie.galioto@startribune.com?subject=How Duluth's school districts might be reshaped" data-linkname="katie.galioto@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">katie.galioto@startribune.com</a>
          <a class="article-author-hcard__phone" href="tel:623-673-4478" data-linkname="623-673-4478" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">623-673-4478</a>
          <a class="article-author-hcard__twitter" href="http://twitter.com/katiegalioto" target="_blank" data-linkname="katiegalioto" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">katiegalioto</a></p>
  </div>

      <div class="article-author-hcard">
          <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Jeff Hargarten </strong>is a data journalist for the Star Tribune focusing on data-driven reporting and visualization. He has covered elections, technology, criminal justice, demographics and public health.</span></p><p></p>
          <p><a class="article-author-hcard__email" target="_blank" href="mailto:Jeff.Hargarten@startribune.com?subject=How Duluth's school districts might be reshaped" data-linkname="Jeff.Hargarten@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">Jeff.Hargarten@startribune.com</a>
          <a class="article-author-hcard__phone" href="tel:612-673-4642" data-linkname="612-673-4642" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">612-673-4642</a>
          <a class="article-author-hcard__twitter" href="http://twitter.com/JeffHargarten" target="_blank" data-linkname="JeffHargarten" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">JeffHargarten</a></p>
    </div>
  </div>
</section>
</div>


<script>
  export default {
    oncreate() {
      // For content that lives in the CMS directly, we hack
      // around the share bits by removing it before we load
      // the component, then re-attach here.
      //
      // This looks like
      // <div class="share-placeholder">
      //   <!-- share -->
      // </div>
      if (this.get().attachShare) {
        this.get().attachShare();
      }
    }
  };
</script>